<!-- login.jinja2 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ request.static_url('projet:static/styles.css') }}">
    <!-- Ajoutez ici vos liens vers les feuilles de style ou d'autres ressources -->
</head>
<body>
{% include 'navbar.jinja2' %}
<h1>Login</h1>

{% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
{% endif %}

<form action="{{ request.route_url('login') }}" method="post">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" required><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br>

    <p>Don't have an account? <a href="{{ request.route_url('register') }}">Register here</a>.</p>

    <input type="submit" value="Login">
</form>

</body>
</html>
